<section class="header__navbar">
  <a style="width: 126px" href="#appeal">Обращение</a>
  <a style="width: 111px" href="#chronicle">Хроника</a>
  <a style="width: 103px" href="#history">История</a>
  <a style="width: 123px" href="#ten-laws">10 законов</a>
  <a style="width: 134px" href="#direct-speech">Прямая речь</a>
  <a style="width: 189px" href="#video-congratulation">Видео поздравления</a>
  <a style="width: 80px" href="#summary">Итоги</a>
  <a style="width: 83px" href="#museum-materials-reports">Музей</a>
  <a style="width: 117px" href="#museum-materials-reports">Материалы</a>
  <a style="width: 104px" href="#museum-materials-reports">Доклады</a>
</section>
