{% load static %}
<section class="header__speech" id="appeal">
  <img src="{% static 'img/artemiev.png' %}" alt="Артемьев">
  <p class="header__artemiev-title">Руководитель ФАС<br/>Игорь Артемьев</p>
  <div class="header__appeal-button" role="button">
    <p>Обращение</p>
    <div class="header__play-icon">
      <object type="image/svg+xml" data="{% static 'svg/play-gray.svg' %}">
        <img src="{% static 'svg/play-gray.svg' %}" alt="Play"/>
      </object>
    </div>
  </div>
  <p class="header__hint">Поздравление и итоги 30-летней истории</p>
</section>
