{% load static %}
<section class="footer__policy">
  <div class="footer__container">
    <div class="footer__eagle">
      <object type="image/svg+xml" data="{% static 'svg/eagle.svg' %}" class="footer__icon">
        <img src="{% static 'svg/eagle.svg' %}" alt="Орел"/>
      </object>
      Свобода конкуренции и эффективная защита<br/>предпринимательства ради будущего России
    </div>
    <span class="footer__link" role="button">Книги о деятельности антимонопольных органов</span>
    <span class="footer__link" role="button">Журналы</span>
    <span class="footer__link" role="button">Буклеты</span>
    <span class="footer__link" role="button">Инфографика</span>
  </div>
</section>
