{% load static %}
<header class="header__root">

  <section class="header__navbar">
    <a style="width: 126px" href="#appeal">Обращение</a>
    <a style="width: 111px" href="#chronicle">Хроника</a>
    <a style="width: 103px" href="#history">История</a>
    <a style="width: 123px" href="#ten-laws">10 законов</a>
    <a style="width: 134px" href="#direct-speech">Прямая речь</a>
    <a style="width: 189px" href="#video-congratulation">Видео поздравления</a>
    <a style="width: 80px" href="#summary">Итоги</a>
    <a style="width: 83px" href="#museum-materials-reports">Музей</a>
    <a style="width: 117px" href="#museum-materials-reports">Материалы</a>
    <a style="width: 104px" href="#museum-materials-reports">Доклады</a>
  </section>

  <section class="header__media">
    <div class="header__anniversary30">
      <object type="image/svg+xml" data="{% static 'svg/30-years.svg' %}">
        <img src="{% static 'svg/30-years.svg' %}" alt="30 лет"/>
      </object>
      <object type="image/svg+xml" data="{% static 'svg/30-years-text.svg' %}">
        <img src="{% static 'svg/30-years-text.svg' %}" alt="30 лет"/>
      </object>
    </div>
    <div class="header__fas-logo">
      <object type="image/svg+xml" data="{% static 'svg/eagle.svg' %}">
        <img src="{% static 'svg/eagle.svg' %}" alt="Орел"/>
      </object>
      <p>Свобода конкуренции и эффективная защита предпринимательства<br/>ради будущего России</p>
    </div>
    <div class="header__media-icons">
      <a href="https://ru-ru.facebook.com/rus.fas" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/facebook.svg' %}">
          <img src="{% static 'svg/facebook.svg' %}" alt="Орел"/>
        </object>
      </a>
      <a href="https://vk.com/fas_rus" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/vk.svg' %}">
          <img src="{% static 'svg/vk.svg' %}" alt="Орел"/>
        </object>
      </a>
      <a href="https://twitter.com/rus_fas" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/twitter.svg' %}">
          <img src="{% static 'svg/twitter.svg' %}" alt="Орел"/>
        </object>
      </a>
      <a href="https://ok.ru/ok.fas" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/ok.svg' %}">
          <img src="{% static 'svg/ok.svg' %}" alt="Орел"/>
        </object>
      </a>
      <a href="https://instagram.com/fas_time" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/instagram.svg' %}">
          <img src="{% static 'svg/instagram.svg' %}" alt="Орел"/>
        </object>
      </a>
      <a href="https://youtube.com/user/FASvideotube" target="_blank" rel="noopener noreferrer">
        <object type="image/svg+xml" data="{% static 'svg/youtube.svg' %}">
          <img src="{% static 'svg/youtube.svg' %}" alt="Орел"/>
        </object>
      </a>
    </div>
  </section>

  <section class="header__speech" id="appeal">
    <img src="{% static 'img/artemiev.png' %}" alt="Артемьев">
    <p class="header__artemiev-title">Руководитель ФАС<br/>Игорь Артемьев</p>
    <div class="header__appeal-button" role="button">
      <p>Обращение</p>
      <div class="header__play-icon">
        <object type="image/svg+xml" data="{% static 'svg/playGray.svg' %}">
          <img src="{% static 'svg/playGray.svg' %}" alt="Play"/>
        </object>
      </div>
    </div>
    <p class="header__hint">Поздравление и итоги 30-летней истории</p>
  </section>
</header>
