{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts-connect.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">

  <title>30 лет антимонопольному регулированию</title>
</head>
<body>

<div class="root">
  {% include 'header/index.html' %}
  {% include 'footer/index.html' %}
</div>

</body>
</html>
