.header__root {
  width: 1440px;
  margin: 0 auto;
}

.header__navbar {
  background-color: #007271;
  position: fixed;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: inherit;
  padding: 0 135px;
}

.header__navbar a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f2f2eb;
  transition: background-color 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
}

.header__navbar a:hover {
  background-color: #005f5e;
}

.header__media {
  margin-top: 40px;
  height: 98px;
  background-color: #f2f2eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 145px;
}

.header__anniversary30 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}

.header__fas-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.header__fas-logo p {
  margin-left: 16px;
  max-width: 272px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #cecab3;
}

.header__media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  position: relative;
  right: 12px;
}

.header__media-icons a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__speech {
  height: 495px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #18213f;
  position: relative;
}

.header__artemiev-title {
  position: absolute;
  right: 542px;
  top: 75px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 100px;
  color: #fff;
}

.header__appeal-button {
  position: absolute;
  right: 850px;
  bottom: 133px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 450px;
  background-color: #cecab3;
  border-radius: 3px;
  cursor: pointer;
}

.header__appeal-button p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 22px;
}

.header__appeal-button div.header__play-icon {
  position: relative;
  right: 5px;
  top: 2px;
}

.header__hint {
  position: absolute;
  bottom: 100px;
  right: 987px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fafeff;
  opacity: 0.5;
}
