.header__root {
  background-color: #007271;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 1440px;
  height: 40px;
}

.header__navbar {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.header__navbar a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f2f2eb;
  transition: background-color 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
}

.header__navbar a:hover {
  background-color: #005f5e;
}

.header__media {
  height: 98px;
  background-color: #f2f2eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 145px;
}

.header__anniversary30 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}

.header__fas-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.header__fas-logo p {
  margin-left: 16px;
  max-width: 272px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #cecab3;
}

.header__media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  position: relative;
  right: 12px;
}

.header__media-icons a {
  cursor: pointer;
  display: flex;
  align-items: center;
}
